app/service/index.pug
extends ../layout/main

block variables
	-var title = 'Услуги'

block content
	section.banner-content
		.banner-content__header
			h2 
				img.header-left(src="../assets/img/service/service-arrow-prev.svg", alt="")
				| Городу
				img.header-right(src="../assets/img/service/service-arrow.svg", alt="")
		.banner-content-block
			.banner-content-block__item(style="background:url('../assets/img/banner_1.jpg') center no-repeat; background-size: cover;")
				.banner-content-block__item-submenu.active-menu
					ul.banner-content-block__item-submenu__body
						li
							a(href="/") Городская мебель
						li
							a(href="/") Городская мебель
						li
							a(href="/") Городская мебель
						li
							a(href="/") Городская мебель
						li
							a(href="/") Городская мебель
						li
							a(href="/") Городская мебель
						li
							a(href="/") Городская мебель
						li
							a(href="/") Городская мебель
						li
							a(href="/") Городская мебель
						li
							a(href="/") Городская мебель	
				.banner-content-block__item-bg
			.content
				.content-block.google
					include ../modules/banner-page		
					section.section.content-projects
						h3.subtitle
							span
							| делали с удовольствием
						h2.title Реализованные проекты
						.content-projects__block
							.content-projects__block-banner.swiper-container
								.swiper-wrapper
									.content-projects__block-banner__item.swiper-slide
										img(src="../assets/img/service/project-main.jpg", alt="")
									.content-projects__block-banner__item.swiper-slide
										img(src="../assets/img/map.jpg", alt="")
									.content-projects__block-banner__item.swiper-slide
										img(src="../assets/img/service/project-main.jpg", alt="")
									.content-projects__block-banner__item.swiper-slide
										img(src="../assets/img/service/project-main.jpg", alt="")
									.content-projects__block-banner__item.swiper-slide
										img(src="../assets/img/service/project-main.jpg", alt="")
							.content-projects__block-img.swiper-container
								.swiper-wrapper
									.content-projects__block-img__item.swiper-slide
										img(src="../assets/img/service/project_1.jpg", alt="")
									.content-projects__block-img__item.swiper-slide
										img(src="../assets/img/service/project_2.jpg", alt="")
									.content-projects__block-img__item.swiper-slide
										img(src="../assets/img/service/project_3.jpg", alt="")
									.content-projects__block-img__item.swiper-slide
										img(src="../assets/img/service/project_4.jpg", alt="")
									.content-projects__block-img__item.swiper-slide
										img(src="../assets/img/service/project_5.jpg", alt="")
							.content-projects__block-text
								p С уверенностью заявляем, новогоднее оформление – наша визитная карточка. Изучили все нюансы и тонкости за более чем 10 лет практики. Смонтировали более 300 объектов по России.
								p Превращаем улицы городов в сказочные декорации. Разнообразие форм и элементов световых конструкций даёт возможность подобрать презентабельный вариант на любой бюджет. 
					section.content-advantages
						h3.subtitle
							span
							| ответственный подход
						h2.title Приемущества работы с нами
						.content-advantages-block
							.content-advantages-block__item
								.content-advantages-block__item-block
									img(src="../assets/img/service/service-adv_1.svg", alt="")
								h3 Сварка чёрных и цветных металлов любой сложности и размеров
							.content-advantages-block__item
								.content-advantages-block__item-block
									img(src="../assets/img/service/service-adv_2.svg", alt="")
								h3 Работаем с широким спектром наименований световой продукции
							.content-advantages-block__item
								.content-advantages-block__item-block
									img(src="../assets/img/service/service-adv_3.svg", alt="")
								h3 В осенние месяцы увеличиваем штат сотрудников на выполнение новогодних объектов до 250 человек
							.content-advantages-block__item
								.content-advantages-block__item-block
									img(src="../assets/img/service/service-adv_4.svg", alt="")
								h3 Наши дизайнеры знают множество необычных способов применения уличных гирлянд
							.content-advantages-block__item
								.content-advantages-block__item-block
									img(src="../assets/img/service/service-adv_5.svg", alt="")
								h3 Имеем опыт реализации особо срочных заказов
					section.content-portfolio
						.title-block.alt-arrow
							.title-block__text
								h3.subtitle 
									span
									| говорит сама за себя
								h2.title Работа, за которую не стыдно
							.title-block__buttons
								.slider-prev.portfolio-section-prev
									img(src="../assets/img/service/service-arrow-prev.svg", alt="")
									p назад
								.slider-next.portfolio-section-next
									p Вперёд
									img(src="../assets/img/service/service-arrow.svg", alt="")
						include ../modules/portfolio-slider
					section.content-form__item
						include ../modules/form
						p Заполните форму и наш менеджер свяжется с вами в ближайшее время
					section.content-process
						.title-block.alt-arrow
							.title-block__text
								h3.subtitle 
									span
									| сложно, но оно того стоит
								h2.title Производственный процесс
							.title-block__buttons
								.slider-prev.content-process__prev
									img(src="../assets/img/service/service-arrow-prev.svg", alt="")
									p назад
								.slider-next.content-process__next
									p Вперёд
									img(src="../assets/img/service/service-arrow.svg", alt="")
						.content-process__block
							.content-process__nav.swiper-container
								.swiper-wrapper
									.content-process__nav-item.swiper-slide(style="background:url(../assets/img/service/process_1.jpg) no-repeat; background-size:cover")
									.content-process__nav-item.swiper-slide(style="background:url(../assets/img/service/process_1.jpg) no-repeat; background-size:cover")
									.content-process__nav-item.swiper-slide(style="background:url(../assets/img/service/process_1.jpg) no-repeat; background-size:cover")
									.content-process__nav-item.swiper-slide(style="background:url(../assets/img/service/process_1.jpg) no-repeat; background-size:cover")
									.content-process__nav-item.swiper-slide(style="background:url(../assets/img/service/process_1.jpg) no-repeat; background-size:cover")
							.content-process__for.swiper-container
								.swiper-wrapper
									.content-process__for-item.swiper-slide
										//- (style="background:url('../assets/img/service/process_5.jpg') center no-repeat; background-size: cover;")
										img(src="../assets/img/service/process_5.jpg", alt="")
									.content-process__for-item.swiper-slide
										img(src="../assets/img/service/process_5.jpg", alt="")
									.content-process__for-item.swiper-slide
										img(src="../assets/img/service/process_5.jpg", alt="")
									.content-process__for-item.swiper-slide
										img(src="../assets/img/service/process_5.jpg", alt="")
									.content-process__for-item.swiper-slide
										img(src="../assets/img/service/process_5.jpg", alt="")
					section.section.content-steps
						h3.subtitle
							span
							| серьёзный подход
						h2.title Порядок нашей работы
						.content-steps__block
							.content-steps__block-item
								.content-steps__block-item__box
									span.num 01
								p Персональный менеджер выясняет требования к проекту 
							.content-steps__block-item
								.content-steps__block-item__box
									span.num 02
								p Создание набросков  в течение одного-двух дней
							.content-steps__block-item
								.content-steps__block-item__box
									span.num 03
								p Разработка и презентация проекта (от 5-ти, до 8-ми дней)
							.content-steps__block-item
								.content-steps__block-item__box
									span.num 04
								p Подготовка точной сметы 
							.content-steps__block-item
								.content-steps__block-item__box
									span.num 05
								p Изготовление объекта и монтаж 
					section.content-service
						h3.subtitle
							span
							| абсолютно индивидуальные
						h2.title Похожие услуги
						.content-service__block.slide-block
							include ../modules/blog-item
							include ../modules/blog-item
							include ../modules/blog-item	
					include ../modules/section-form

public/service/index.html
<!DOCTYPE html><html lang="ru-RU"><head><meta charset="utf-8"><meta class="viewport" name="viewport" content="width=device-width, initial-scale=1"><meta name="keywords" content=""><meta name="description" content=""><link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"><link rel="stylesheet" type="text/css" href="../../assets/css/main.min.css"><title>Услуги</title></head><body><div class="wrapper" id="wrapper"><header class="header"><div class="container"><div class="header-block"><div class="header-logo"><a href="/"><img src="../../assets/img/header_logo.svg" alt=""></a></div><div class="header-button"><a href="#">Обсудить проект</a></div><div class="header-menu__button"><a href="#"> <span></span></a></div></div><div class="header-menu__block"><ul class="header-menu__mainline"><li class="header-menu__mainline-item"><div class="main-link"><a href="/blog/">Блог</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></div></li><li class="header-menu__mainline-item"><div class="main-link"><a href="/service/">Каталог</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></div><ul class="header-menu__subline"><li><a href="">Городу</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></li><li><a href="">Магазинам</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></li><li><a href="">Предприятию</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></li><li><a href="">Гос учреждениям</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></li><li><a href="">Торговому центру</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></li></ul></li><li class="header-menu__mainline-item"><div class="main-link"><a href="/portfolio/">Портфолио</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></div></li><li class="header-menu__mainline-item"><div class="main-link"><a href="/about/">О нас</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></div><ul class="header-menu__subline"><li><a href="/about/">О компании</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></li><li><a href="/reviews/">Отзывы</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></li><li><a href="/vacancies/">Вакансии</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></li><li><a href="/articles/">Статьи</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></li></ul></li><li class="header-menu__mainline-item"><div class="main-link"><a href="/contacts/">Контакты</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></div></li></ul></div></div></header><div class="content"><section class="banner-content"><div class="banner-content__header"><h2> <img class="header-left" src="../assets/img/service/service-arrow-prev.svg" alt="">Городу<img class="header-right" src="../assets/img/service/service-arrow.svg" alt=""></h2></div><div class="banner-content-block"><div class="banner-content-block__item" style="background:url('../assets/img/banner_1.jpg') center no-repeat; background-size: cover;"><div class="banner-content-block__item-submenu active-menu"><ul class="banner-content-block__item-submenu__body"><li><a href="/">Городская мебель</a></li><li><a href="/">Городская мебель</a></li><li><a href="/">Городская мебель</a></li><li><a href="/">Городская мебель</a></li><li><a href="/">Городская мебель</a></li><li><a href="/">Городская мебель</a></li><li><a href="/">Городская мебель</a></li><li><a href="/">Городская мебель</a></li><li><a href="/">Городская мебель</a></li><li><a href="/">Городская мебель	</a></li></ul></div><div class="banner-content-block__item-bg"></div></div><div class="content"><div class="content-block google"><section class="banner-section"><div class="banner-page__button"><div class="banner-page__button-prev"><img src="../../assets/img/banner-prev.svg" alt=""></div><div class="banner-page__button-next"><img src="../../assets/img/banner-next.svg" alt=""></div></div><div class="banner-page"><div class="banner-page__item" style="background:url('../assets/img/portfolio/portfolio-banner.jpg') center no-repeat; background-size: cover;"><h2> <span> Оформляем пространство, внедряем <br>современный дизайн в городскую среду.</span><a class="button" href="/">Оставить заявку</a></h2></div><div class="banner-page__item" style="background:url('../assets/img/portfolio/portfolio-banner.jpg') center no-repeat; background-size: cover;"><h2> <span> Оформляем пространство, внедряем <br>современный дизайн в городскую среду.</span><a class="button" href="/">Оставить заявку  </a></h2></div></div></section><section class="section content-projects"><h3 class="subtitle"><span></span>делали с удовольствием</h3><h2 class="title">Реализованные проекты</h2><div class="content-projects__block"><div class="content-projects__block-banner swiper-container"><div class="swiper-wrapper"><div class="content-projects__block-banner__item swiper-slide"><img src="../assets/img/service/project-main.jpg" alt=""></div><div class="content-projects__block-banner__item swiper-slide"><img src="../assets/img/map.jpg" alt=""></div><div class="content-projects__block-banner__item swiper-slide"><img src="../assets/img/service/project-main.jpg" alt=""></div><div class="content-projects__block-banner__item swiper-slide"><img src="../assets/img/service/project-main.jpg" alt=""></div><div class="content-projects__block-banner__item swiper-slide"><img src="../assets/img/service/project-main.jpg" alt=""></div></div></div><div class="content-projects__block-img swiper-container"><div class="swiper-wrapper"><div class="content-projects__block-img__item swiper-slide"><img src="../assets/img/service/project_1.jpg" alt=""></div><div class="content-projects__block-img__item swiper-slide"><img src="../assets/img/service/project_2.jpg" alt=""></div><div class="content-projects__block-img__item swiper-slide"><img src="../assets/img/service/project_3.jpg" alt=""></div><div class="content-projects__block-img__item swiper-slide"><img src="../assets/img/service/project_4.jpg" alt=""></div><div class="content-projects__block-img__item swiper-slide"><img src="../assets/img/service/project_5.jpg" alt=""></div></div></div><div class="content-projects__block-text"><p>С уверенностью заявляем, новогоднее оформление – наша визитная карточка. Изучили все нюансы и тонкости за более чем 10 лет практики. Смонтировали более 300 объектов по России.</p><p>Превращаем улицы городов в сказочные декорации. Разнообразие форм и элементов световых конструкций даёт возможность подобрать презентабельный вариант на любой бюджет. </p></div></div></section><section class="content-advantages"><h3 class="subtitle"><span></span>ответственный подход</h3><h2 class="title">Приемущества работы с нами</h2><div class="content-advantages-block"><div class="content-advantages-block__item"><div class="content-advantages-block__item-block"><img src="../assets/img/service/service-adv_1.svg" alt=""></div><h3>Сварка чёрных и цветных металлов любой сложности и размеров</h3></div><div class="content-advantages-block__item"><div class="content-advantages-block__item-block"><img src="../assets/img/service/service-adv_2.svg" alt=""></div><h3>Работаем с широким спектром наименований световой продукции</h3></div><div class="content-advantages-block__item"><div class="content-advantages-block__item-block"><img src="../assets/img/service/service-adv_3.svg" alt=""></div><h3>В осенние месяцы увеличиваем штат сотрудников на выполнение новогодних объектов до 250 человек</h3></div><div class="content-advantages-block__item"><div class="content-advantages-block__item-block"><img src="../assets/img/service/service-adv_4.svg" alt=""></div><h3>Наши дизайнеры знают множество необычных способов применения уличных гирлянд</h3></div><div class="content-advantages-block__item"><div class="content-advantages-block__item-block"><img src="../assets/img/service/service-adv_5.svg" alt=""></div><h3>Имеем опыт реализации особо срочных заказов</h3></div></div></section><section class="content-portfolio"><div class="title-block alt-arrow"><div class="title-block__text"><h3 class="subtitle"> <span></span>говорит сама за себя</h3><h2 class="title">Работа, за которую не стыдно</h2></div><div class="title-block__buttons"><div class="slider-prev portfolio-section-prev"><img src="../assets/img/service/service-arrow-prev.svg" alt=""><p>назад</p></div><div class="slider-next portfolio-section-next"><p>Вперёд</p><img src="../assets/img/service/service-arrow.svg" alt=""></div></div></div><div class="portfolio-section-slider swiper-container"><div class="swiper-wrapper"><div class="portfolio-section-slider__item swiper-slide"><div class="portfolio-section-slider__item_title">Фигуры</div><img src="../assets/img/portfolio_1.jpg" alt=""></div><div class="portfolio-section-slider__item swiper-slide"><div class="portfolio-section-slider__item_title">Фигуры</div><img src="../assets/img/portfolio_1.jpg" alt=""></div><div class="portfolio-section-slider__item swiper-slide"><div class="portfolio-section-slider__item_title">Фигуры</div><img src="../assets/img/portfolio_1.jpg" alt=""></div><div class="portfolio-section-slider__item swiper-slide"><div class="portfolio-section-slider__item_title">Фигуры</div><img src="../assets/img/portfolio_1.jpg" alt=""></div><div class="portfolio-section-slider__item swiper-slide"><div class="portfolio-section-slider__item_title">Фигуры</div><img src="../assets/img/portfolio_1.jpg" alt=""></div><div class="portfolio-section-slider__item swiper-slide"><div class="portfolio-section-slider__item_title">Фигуры</div><img src="../assets/img/portfolio_1.jpg" alt=""></div><div class="portfolio-section-slider__item swiper-slide"><div class="portfolio-section-slider__item_title">Фигуры</div><img src="../assets/img/portfolio_1.jpg" alt=""></div></div><div class="portfolio-section-slider__title" href="/"><h2>Портфолио</h2><img class="desktop-arrow" src="../assets/img/title-arrow-white.svg" alt=""><img class="mobile-arrow" src="../assets/img/title-arrow.svg" alt=""></div></div></section><section class="content-form__item"><form class="form-item" action="" method="post"><div><input type="text" name="name" placeholder="Имя"></div><div><input type="tel" name="phone" placeholder="Телефон"></div><div><input type="email" name="email" placeholder="E-mail"></div><div><button class="button" type="submit">Отправить</button></div></form><p>Заполните форму и наш менеджер свяжется с вами в ближайшее время</p></section><section class="content-process"><div class="title-block alt-arrow"><div class="title-block__text"><h3 class="subtitle"> <span></span>сложно, но оно того стоит</h3><h2 class="title">Производственный процесс</h2></div><div class="title-block__buttons"><div class="slider-prev content-process__prev"><img src="../assets/img/service/service-arrow-prev.svg" alt=""><p>назад</p></div><div class="slider-next content-process__next"><p>Вперёд</p><img src="../assets/img/service/service-arrow.svg" alt=""></div></div></div><div class="content-process__block"><div class="content-process__nav swiper-container"><div class="swiper-wrapper"><div class="content-process__nav-item swiper-slide" style="background:url(../assets/img/service/process_1.jpg) no-repeat; background-size:cover"></div><div class="content-process__nav-item swiper-slide" style="background:url(../assets/img/service/process_1.jpg) no-repeat; background-size:cover"></div><div class="content-process__nav-item swiper-slide" style="background:url(../assets/img/service/process_1.jpg) no-repeat; background-size:cover"></div><div class="content-process__nav-item swiper-slide" style="background:url(../assets/img/service/process_1.jpg) no-repeat; background-size:cover"></div><div class="content-process__nav-item swiper-slide" style="background:url(../assets/img/service/process_1.jpg) no-repeat; background-size:cover"></div></div></div><div class="content-process__for swiper-container"><div class="swiper-wrapper"><div class="content-process__for-item swiper-slide"><img src="../assets/img/service/process_5.jpg" alt=""></div><div class="content-process__for-item swiper-slide"><img src="../assets/img/service/process_5.jpg" alt=""></div><div class="content-process__for-item swiper-slide"><img src="../assets/img/service/process_5.jpg" alt=""></div><div class="content-process__for-item swiper-slide"><img src="../assets/img/service/process_5.jpg" alt=""></div><div class="content-process__for-item swiper-slide"><img src="../assets/img/service/process_5.jpg" alt=""></div></div></div></div></section><section class="section content-steps"><h3 class="subtitle"><span></span>серьёзный подход</h3><h2 class="title">Порядок нашей работы</h2><div class="content-steps__block"><div class="content-steps__block-item"><div class="content-steps__block-item__box"><span class="num">01</span></div><p>Персональный менеджер выясняет требования к проекту </p></div><div class="content-steps__block-item"><div class="content-steps__block-item__box"><span class="num">02</span></div><p>Создание набросков  в течение одного-двух дней</p></div><div class="content-steps__block-item"><div class="content-steps__block-item__box"><span class="num">03</span></div><p>Разработка и презентация проекта (от 5-ти, до 8-ми дней)</p></div><div class="content-steps__block-item"><div class="content-steps__block-item__box"><span class="num">04</span></div><p>Подготовка точной сметы </p></div><div class="content-steps__block-item"><div class="content-steps__block-item__box"><span class="num">05</span></div><p>Изготовление объекта и монтаж </p></div></div></section><section class="content-service"><h3 class="subtitle"><span></span>абсолютно индивидуальные</h3><h2 class="title">Похожие услуги</h2><div class="content-service__block slide-block"><div class="blog-item slide-padding"><div class="blog-item__img"><img src="../assets/img/service/service_1.jpg" alt=""></div><div class="blog-item__text"><h3>Работа, которую нельзя обойти стороной. Тц...</h3><a href="/">Читать дальше<img src="../assets/img/service/service-arrow.svg" alt=""></a></div></div><div class="blog-item slide-padding"><div class="blog-item__img"><img src="../assets/img/service/service_1.jpg" alt=""></div><div class="blog-item__text"><h3>Работа, которую нельзя обойти стороной. Тц...</h3><a href="/">Читать дальше<img src="../assets/img/service/service-arrow.svg" alt=""></a></div></div><div class="blog-item slide-padding"><div class="blog-item__img"><img src="../assets/img/service/service_1.jpg" alt=""></div><div class="blog-item__text"><h3>Работа, которую нельзя обойти стороной. Тц...</h3><a href="/">Читать дальше<img src="../assets/img/service/service-arrow.svg" alt=""></a></div></div></div></section><section class="form"><div class="form-block"><div class="form-block__item"><h3 class="subtitle"> <span></span>мы можем помочь</h3><h2 class="title">Форма обратной связи</h2><form class="form-item" action="" method="post"><div><input type="text" name="name" placeholder="Имя"></div><div><input type="tel" name="phone" placeholder="Телефон"></div><div><input type="email" name="email" placeholder="E-mail"></div><div><button class="button" type="submit">Отправить</button></div></form></div></div><div class="form-img" style="background:url('../assets/img/banner_1.jpg') center no-repeat; background-size: cover;"></div></section></div></div></div></section></div><footer class="footer"><div class="container"><div class="footer-block"><ul class="footer-block__menu"><li><a href="">Блог</a></li><li><a href="">Каталог</a></li><li><a href="">Портфолио</a></li><li><a href="">О нас</a></li><li><a href="">Контакты</a></li></ul></div><div class="footer-block"><ul class="footer-block__info"><li><a href="tel:+73422480442">+7 (342) 248-04-42</a></li><li><a href="mailto:art@skprm.ru">art@skprm.ru</a></li><li><p>г. Пермь, ул. Коломенская 61, 3 этаж.</p></li></ul><ul class="footer-block__social"><li><a href=""><img src="../../assets/img/footer-inst.svg" alt=""></a></li><li><a href=""><img src="../../assets/img/footer-vk.svg" alt=""></a></li><li><a href=""><img src="../../assets/img/footer-facebook.svg" alt=""></a></li><li><a href=""><img src="../../assets/img/footer-zen.svg" alt=""></a></li><li><a href=""><img src="../../assets/img/footer-be.svg" alt=""></a></li></ul></div></div></footer><script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script><script src="../../assets/js/app.min.js"></script></div></body></html>
