public/modules/banner-page.html
<section class="banner-section"><div class="banner-page__button"><div class="banner-page__button-prev"><img src="../../assets/img/banner-prev.svg" alt=""/></div><div class="banner-page__button-next"><img src="../../assets/img/banner-next.svg" alt=""/></div></div><div class="banner-page"><div class="banner-page__item" style="background:url('../assets/img/portfolio/portfolio-banner.jpg') center no-repeat; background-size: cover;"><h2> <span> Оформляем пространство, внедряем <br/>современный дизайн в городскую среду.</span><a class="button" href="/">Оставить заявку</a></h2></div><div class="banner-page__item" style="background:url('../assets/img/portfolio/portfolio-banner.jpg') center no-repeat; background-size: cover;"><h2> <span> Оформляем пространство, внедряем <br/>современный дизайн в городскую среду.</span><a class="button" href="/">Оставить заявку  </a></h2></div></div></section>

app/modules/banner-page.pug
section.banner-section
  .banner-page__button
    .banner-page__button-prev
      img(src="../../assets/img/banner-prev.svg", alt="")
    .banner-page__button-next
      img(src="../../assets/img/banner-next.svg", alt="")
  .banner-page
    .banner-page__item(style="background:url('../assets/img/portfolio/portfolio-banner.jpg') center no-repeat; background-size: cover;")
      h2 
        span 
          | Оформляем пространство, внедряем 
          br
          | современный дизайн в городскую среду.
        a(href="/").button Оставить заявку
    .banner-page__item(style="background:url('../assets/img/portfolio/portfolio-banner.jpg') center no-repeat; background-size: cover;")
      h2 
        span 
          | Оформляем пространство, внедряем 
          br
          | современный дизайн в городскую среду.
        a(href="/").button Оставить заявку  
