public/modules/blog-item.html
<div class="blog-item slide-padding"><div class="blog-item__img"><img src="../assets/img/service/service_1.jpg" alt=""/></div><div class="blog-item__text"><h3>Работа, которую нельзя обойти стороной. Тц...</h3><a href="/">Читать дальше<img src="../assets/img/service/service-arrow.svg" alt=""/></a></div></div>

app/modules/blog-item.pug
.blog-item.slide-padding
  .blog-item__img
    img(src="../assets/img/service/service_1.jpg", alt="")
  .blog-item__text
    h3 Работа, которую нельзя обойти стороной. Тц...
    a(href="/")
      | Читать дальше
      img(src="../assets/img/service/service-arrow.svg", alt="")
