app/modules/portfolio-header.pug
.title-block
  .title-block__text
    h3.subtitle 
      span
      | говорит сама за себя
    h2.title Работа, за которую не стыдно
  .title-block__buttons
    .slider-prev.portfolio-section-prev
      p назад
      img(src="../assets/img/slider-prev.svg", alt="")
    .slider-next.portfolio-section-next
      p Вперёд
      img(src="../assets/img/slider-next.svg", alt="")

public/modules/portfolio-header.html
<div class="title-block"><div class="title-block__text"><h3 class="subtitle"> <span></span>говорит сама за себя</h3><h2 class="title">Работа, за которую не стыдно</h2></div><div class="title-block__buttons"><div class="slider-prev portfolio-section-prev"><p>назад</p><img src="../assets/img/slider-prev.svg" alt=""/></div><div class="slider-next portfolio-section-next"><p>Вперёд</p><img src="../assets/img/slider-next.svg" alt=""/></div></div></div>
