public/modules/portfolio-slider.html
<div class="portfolio-section-slider swiper-container"><div class="swiper-wrapper"><div class="portfolio-section-slider__item swiper-slide"><div class="portfolio-section-slider__item_title">Фигуры</div><img src="../assets/img/portfolio_1.jpg" alt=""/></div><div class="portfolio-section-slider__item swiper-slide"><div class="portfolio-section-slider__item_title">Фигуры</div><img src="../assets/img/portfolio_1.jpg" alt=""/></div><div class="portfolio-section-slider__item swiper-slide"><div class="portfolio-section-slider__item_title">Фигуры</div><img src="../assets/img/portfolio_1.jpg" alt=""/></div><div class="portfolio-section-slider__item swiper-slide"><div class="portfolio-section-slider__item_title">Фигуры</div><img src="../assets/img/portfolio_1.jpg" alt=""/></div><div class="portfolio-section-slider__item swiper-slide"><div class="portfolio-section-slider__item_title">Фигуры</div><img src="../assets/img/portfolio_1.jpg" alt=""/></div><div class="portfolio-section-slider__item swiper-slide"><div class="portfolio-section-slider__item_title">Фигуры</div><img src="../assets/img/portfolio_1.jpg" alt=""/></div><div class="portfolio-section-slider__item swiper-slide"><div class="portfolio-section-slider__item_title">Фигуры</div><img src="../assets/img/portfolio_1.jpg" alt=""/></div></div><div class="portfolio-section-slider__title" href="/"><h2>Портфолио</h2><img class="desktop-arrow" src="../assets/img/title-arrow-white.svg" alt=""/><img class="mobile-arrow" src="../assets/img/title-arrow.svg" alt=""/></div></div>

app/modules/portfolio-slider.pug
.portfolio-section-slider(class="swiper-container")
  .swiper-wrapper
    .portfolio-section-slider__item(class="swiper-slide")
      .portfolio-section-slider__item_title Фигуры
      img(src="../assets/img/portfolio_1.jpg", alt="")
    .portfolio-section-slider__item(class="swiper-slide")
      .portfolio-section-slider__item_title Фигуры
      img(src="../assets/img/portfolio_1.jpg", alt="")
    .portfolio-section-slider__item(class="swiper-slide")
      .portfolio-section-slider__item_title Фигуры
      img(src="../assets/img/portfolio_1.jpg", alt="")
    .portfolio-section-slider__item(class="swiper-slide")
      .portfolio-section-slider__item_title Фигуры
      img(src="../assets/img/portfolio_1.jpg", alt="")
    .portfolio-section-slider__item(class="swiper-slide")
      .portfolio-section-slider__item_title Фигуры
      img(src="../assets/img/portfolio_1.jpg", alt="")
    .portfolio-section-slider__item(class="swiper-slide")
      .portfolio-section-slider__item_title Фигуры
      img(src="../assets/img/portfolio_1.jpg", alt="")
    .portfolio-section-slider__item(class="swiper-slide")
      .portfolio-section-slider__item_title Фигуры
      img(src="../assets/img/portfolio_1.jpg", alt="")
  .portfolio-section-slider__title(href="/")
    h2 Портфолио
    img(src="../assets/img/title-arrow-white.svg", alt="", class="desktop-arrow")
    img(src="../assets/img/title-arrow.svg", alt="", class="mobile-arrow")
