app/modules/section-form.pug
section.form
  .form-block
    .form-block__item
      h3.subtitle 
        span
        | мы можем помочь
      h2.title Форма обратной связи
      include form
  .form-img(style="background:url('../assets/img/banner_1.jpg') center no-repeat; background-size: cover;")

public/modules/section-form.html
<section class="form"><div class="form-block"><div class="form-block__item"><h3 class="subtitle"> <span></span>мы можем помочь</h3><h2 class="title">Форма обратной связи</h2><form class="form-item" action="" method="post"><div><input type="text" name="name" placeholder="Имя"/></div><div><input type="tel" name="phone" placeholder="Телефон"/></div><div><input type="email" name="email" placeholder="E-mail"/></div><div><button class="button" type="submit">Отправить</button></div></form></div></div><div class="form-img" style="background:url('../assets/img/banner_1.jpg') center no-repeat; background-size: cover;"></div></section>
