public/modules/vacancy.html
<div class="vacancies-block__item"><img src="../assets/img/vacancies/vacancy_1.jpg" alt=""/><div class="vacancies-block__item-info"><h2> копирайтер<div class="button-block"><span></span><span></span><span></span></div></h2><div class="vacancies-block__item-info__block"><p>Наполнение блока, создание описания продукта</p><a class="button" href="/">Подать заявку</a></div></div></div>

app/modules/vacancy.pug
.vacancies-block__item
  img(src="../assets/img/vacancies/vacancy_1.jpg", alt="")
  .vacancies-block__item-info
    h2 
      | копирайтер
      .button-block
        span
        span
        span
    .vacancies-block__item-info__block
      p Наполнение блока, создание описания продукта
      a(href="/").button Подать заявку
