public/reviews/index.html
<!DOCTYPE html><html lang="ru-RU"><head><meta charset="utf-8"><meta class="viewport" name="viewport" content="width=device-width, initial-scale=1"><meta name="keywords" content=""><meta name="description" content=""><link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"><link rel="stylesheet" type="text/css" href="../../assets/css/main.min.css"><title>Отзывы</title></head><body><div class="wrapper" id="wrapper"><header class="header"><div class="container"><div class="header-block"><div class="header-logo"><a href="/"><img src="../../assets/img/header_logo.svg" alt=""></a></div><div class="header-button"><a href="#">Обсудить проект</a></div><div class="header-menu__button"><a href="#"> <span></span></a></div></div><div class="header-menu__block"><ul class="header-menu__mainline"><li class="header-menu__mainline-item"><div class="main-link"><a href="/blog/">Блог</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></div></li><li class="header-menu__mainline-item"><div class="main-link"><a href="/service/">Каталог</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></div><ul class="header-menu__subline"><li><a href="">Городу</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></li><li><a href="">Магазинам</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></li><li><a href="">Предприятию</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></li><li><a href="">Гос учреждениям</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></li><li><a href="">Торговому центру</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></li></ul></li><li class="header-menu__mainline-item"><div class="main-link"><a href="/portfolio/">Портфолио</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></div></li><li class="header-menu__mainline-item"><div class="main-link"><a href="/about/">О нас</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></div><ul class="header-menu__subline"><li><a href="/about/">О компании</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></li><li><a href="/reviews/">Отзывы</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></li><li><a href="/vacancies/">Вакансии</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></li><li><a href="/articles/">Статьи</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></li></ul></li><li class="header-menu__mainline-item"><div class="main-link"><a href="/contacts/">Контакты</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></div></li></ul></div></div></header><div class="content"><div class="content-wrapper reviews-page"><section class="reviews-section"><div class="container"><h3 class="subtitle"><span></span>ЧЕСТНОЕ МНЕНИЕ</h3><h2 class="title">Отзывы наших клиентов</h2><p class="reviews-description">Задача организации, в особенности же рамки и место обучения кадров позволяет выполнять важные задания по разработке соответствующий условий активизации. Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки модели развития. Товарищи! реализация намеченных плановых заданий позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям. Повседневная практика показывает, что новая модель организационной деятельности позволяет оценить значение соответствующий условий активизации.</p><div class="slider-prev reviews-prev"><p>назад</p><img src="../assets/img/slider-prev.svg" alt=""></div><div class="slider-next reviews-next"><p>Вперёд</p><img src="../assets/img/slider-next.svg" alt=""></div><div class="reviews-slider"><div class="reviews-slider__slide"><div class="reviews-slider__item"><img src="../assets/img/reviews/face_1.jpg" alt=""><div class="reviews-slider__item-block"><div><img src="../assets/img/reviews/face_1.jpg" alt=""><div><h3>Мария кондратова</h3><h4>Директор ООО “Цветы перецветки”</h4></div></div><p>Высоко оцениваю работу компании Эрбика на проекте: с учетом большого опыта и стабильных кадров компания может выступать экспертом по постановке бизнес-процессов рекомендовать лучший вариант автоматизации для бизнеса; серьезная репутация компании в регионе сложилась благодаря ответственному отношению к результатам проектов.  </p></div></div><div class="reviews-slider__item"><img src="../assets/img/reviews/face_1.jpg" alt=""><div class="reviews-slider__item-block"><div><img src="../assets/img/reviews/face_1.jpg" alt=""><div><h3>Мария кондратова</h3><h4>Директор ООО “Цветы перецветки”</h4></div></div><p>Высоко оцениваю работу компании Эрбика на проекте: с учетом большого опыта и стабильных кадров компания может выступать экспертом по постановке бизнес-процессов рекомендовать лучший вариант автоматизации для бизнеса; серьезная репутация компании в регионе сложилась благодаря ответственному отношению к результатам проектов.  </p></div></div><div class="reviews-slider__item"><img src="../assets/img/reviews/face_1.jpg" alt=""><div class="reviews-slider__item-block"><div><img src="../assets/img/reviews/face_1.jpg" alt=""><div><h3>Мария кондратова</h3><h4>Директор ООО “Цветы перецветки”</h4></div></div><p>Высоко оцениваю работу компании Эрбика на проекте: с учетом большого опыта и стабильных кадров компания может выступать экспертом по постановке бизнес-процессов рекомендовать лучший вариант автоматизации для бизнеса; серьезная репутация компании в регионе сложилась благодаря ответственному отношению к результатам проектов.  </p></div></div><div class="reviews-slider__item"><img src="../assets/img/reviews/face_1.jpg" alt=""><div class="reviews-slider__item-block"><div><img src="../assets/img/reviews/face_1.jpg" alt=""><div><h3>Мария кондратова</h3><h4>Директор ООО “Цветы перецветки”</h4></div></div><p>Высоко оцениваю работу компании Эрбика на проекте: с учетом большого опыта и стабильных кадров компания может выступать экспертом по постановке бизнес-процессов рекомендовать лучший вариант автоматизации для бизнеса; серьезная репутация компании в регионе сложилась благодаря ответственному отношению к результатам проектов.  </p></div></div></div><div class="reviews-slider__slide"><div class="reviews-slider__item"><img src="../assets/img/reviews/face_1.jpg" alt=""><div class="reviews-slider__item-block"><div><img src="../assets/img/reviews/face_1.jpg" alt=""><div><h3>Мария кондратова</h3><h4>Директор ООО “Цветы перецветки”</h4></div></div><p>Высоко оцениваю работу компании Эрбика на проекте: с учетом большого опыта и стабильных кадров компания может выступать экспертом по постановке бизнес-процессов рекомендовать лучший вариант автоматизации для бизнеса; серьезная репутация компании в регионе сложилась благодаря ответственному отношению к результатам проектов.  </p></div></div><div class="reviews-slider__item"><img src="../assets/img/reviews/face_1.jpg" alt=""><div class="reviews-slider__item-block"><div><img src="../assets/img/reviews/face_1.jpg" alt=""><div><h3>Мария кондратова</h3><h4>Директор ООО “Цветы перецветки”</h4></div></div><p>Высоко оцениваю работу компании Эрбика на проекте: с учетом большого опыта и стабильных кадров компания может выступать экспертом по постановке бизнес-процессов рекомендовать лучший вариант автоматизации для бизнеса; серьезная репутация компании в регионе сложилась благодаря ответственному отношению к результатам проектов.  </p></div></div><div class="reviews-slider__item"><img src="../assets/img/reviews/face_1.jpg" alt=""><div class="reviews-slider__item-block"><div><img src="../assets/img/reviews/face_1.jpg" alt=""><div><h3>Мария кондратова</h3><h4>Директор ООО “Цветы перецветки”</h4></div></div><p>Высоко оцениваю работу компании Эрбика на проекте: с учетом большого опыта и стабильных кадров компания может выступать экспертом по постановке бизнес-процессов рекомендовать лучший вариант автоматизации для бизнеса; серьезная репутация компании в регионе сложилась благодаря ответственному отношению к результатам проектов.  </p></div></div><div class="reviews-slider__item"><img src="../assets/img/reviews/face_1.jpg" alt=""><div class="reviews-slider__item-block"><div><img src="../assets/img/reviews/face_1.jpg" alt=""><div><h3>Мария кондратова</h3><h4>Директор ООО “Цветы перецветки”</h4></div></div><p>Высоко оцениваю работу компании Эрбика на проекте: с учетом большого опыта и стабильных кадров компания может выступать экспертом по постановке бизнес-процессов рекомендовать лучший вариант автоматизации для бизнеса; серьезная репутация компании в регионе сложилась благодаря ответственному отношению к результатам проектов.  </p></div></div></div><div class="reviews-slider__slide"><div class="reviews-slider__item"><img src="../assets/img/reviews/face_1.jpg" alt=""><div class="reviews-slider__item-block"><div><img src="../assets/img/reviews/face_1.jpg" alt=""><div><h3>Мария кондратова</h3><h4>Директор ООО “Цветы перецветки”</h4></div></div><p>Высоко оцениваю работу компании Эрбика на проекте: с учетом большого опыта и стабильных кадров компания может выступать экспертом по постановке бизнес-процессов рекомендовать лучший вариант автоматизации для бизнеса; серьезная репутация компании в регионе сложилась благодаря ответственному отношению к результатам проектов.  </p></div></div><div class="reviews-slider__item"><img src="../assets/img/reviews/face_1.jpg" alt=""><div class="reviews-slider__item-block"><div><img src="../assets/img/reviews/face_1.jpg" alt=""><div><h3>Мария кондратова</h3><h4>Директор ООО “Цветы перецветки”</h4></div></div><p>Высоко оцениваю работу компании Эрбика на проекте: с учетом большого опыта и стабильных кадров компания может выступать экспертом по постановке бизнес-процессов рекомендовать лучший вариант автоматизации для бизнеса; серьезная репутация компании в регионе сложилась благодаря ответственному отношению к результатам проектов.  </p></div></div><div class="reviews-slider__item"><img src="../assets/img/reviews/face_1.jpg" alt=""><div class="reviews-slider__item-block"><div><img src="../assets/img/reviews/face_1.jpg" alt=""><div><h3>Мария кондратова</h3><h4>Директор ООО “Цветы перецветки”</h4></div></div><p>Высоко оцениваю работу компании Эрбика на проекте: с учетом большого опыта и стабильных кадров компания может выступать экспертом по постановке бизнес-процессов рекомендовать лучший вариант автоматизации для бизнеса; серьезная репутация компании в регионе сложилась благодаря ответственному отношению к результатам проектов.  </p></div></div><div class="reviews-slider__item"><img src="../assets/img/reviews/face_1.jpg" alt=""><div class="reviews-slider__item-block"><div><img src="../assets/img/reviews/face_1.jpg" alt=""><div><h3>Мария кондратова</h3><h4>Директор ООО “Цветы перецветки”</h4></div></div><p>Высоко оцениваю работу компании Эрбика на проекте: с учетом большого опыта и стабильных кадров компания может выступать экспертом по постановке бизнес-процессов рекомендовать лучший вариант автоматизации для бизнеса; серьезная репутация компании в регионе сложилась благодаря ответственному отношению к результатам проектов.  </p></div></div></div><div class="reviews-slider__slide"><div class="reviews-slider__item"><img src="../assets/img/reviews/face_1.jpg" alt=""><div class="reviews-slider__item-block"><div><img src="../assets/img/reviews/face_1.jpg" alt=""><div><h3>Мария кондратова</h3><h4>Директор ООО “Цветы перецветки”</h4></div></div><p>Высоко оцениваю работу компании Эрбика на проекте: с учетом большого опыта и стабильных кадров компания может выступать экспертом по постановке бизнес-процессов рекомендовать лучший вариант автоматизации для бизнеса; серьезная репутация компании в регионе сложилась благодаря ответственному отношению к результатам проектов.  </p></div></div><div class="reviews-slider__item"><img src="../assets/img/reviews/face_1.jpg" alt=""><div class="reviews-slider__item-block"><div><img src="../assets/img/reviews/face_1.jpg" alt=""><div><h3>Мария кондратова</h3><h4>Директор ООО “Цветы перецветки”</h4></div></div><p>Высоко оцениваю работу компании Эрбика на проекте: с учетом большого опыта и стабильных кадров компания может выступать экспертом по постановке бизнес-процессов рекомендовать лучший вариант автоматизации для бизнеса; серьезная репутация компании в регионе сложилась благодаря ответственному отношению к результатам проектов.  </p></div></div><div class="reviews-slider__item"><img src="../assets/img/reviews/face_1.jpg" alt=""><div class="reviews-slider__item-block"><div><img src="../assets/img/reviews/face_1.jpg" alt=""><div><h3>Мария кондратова</h3><h4>Директор ООО “Цветы перецветки”</h4></div></div><p>Высоко оцениваю работу компании Эрбика на проекте: с учетом большого опыта и стабильных кадров компания может выступать экспертом по постановке бизнес-процессов рекомендовать лучший вариант автоматизации для бизнеса; серьезная репутация компании в регионе сложилась благодаря ответственному отношению к результатам проектов.  </p></div></div><div class="reviews-slider__item"><img src="../assets/img/reviews/face_1.jpg" alt=""><div class="reviews-slider__item-block"><div><img src="../assets/img/reviews/face_1.jpg" alt=""><div><h3>Мария кондратова</h3><h4>Директор ООО “Цветы перецветки”</h4></div></div><p>Высоко оцениваю работу компании Эрбика на проекте: с учетом большого опыта и стабильных кадров компания может выступать экспертом по постановке бизнес-процессов рекомендовать лучший вариант автоматизации для бизнеса; серьезная репутация компании в регионе сложилась благодаря ответственному отношению к результатам проектов.  </p></div></div></div><div class="reviews-slider__slide"><div class="reviews-slider__item"><img src="../assets/img/reviews/face_1.jpg" alt=""><div class="reviews-slider__item-block"><div><img src="../assets/img/reviews/face_1.jpg" alt=""><div><h3>Мария кондратова</h3><h4>Директор ООО “Цветы перецветки”</h4></div></div><p>Высоко оцениваю работу компании Эрбика на проекте: с учетом большого опыта и стабильных кадров компания может выступать экспертом по постановке бизнес-процессов рекомендовать лучший вариант автоматизации для бизнеса; серьезная репутация компании в регионе сложилась благодаря ответственному отношению к результатам проектов.  </p></div></div><div class="reviews-slider__item"><img src="../assets/img/reviews/face_1.jpg" alt=""><div class="reviews-slider__item-block"><div><img src="../assets/img/reviews/face_1.jpg" alt=""><div><h3>Мария кондратова</h3><h4>Директор ООО “Цветы перецветки”</h4></div></div><p>Высоко оцениваю работу компании Эрбика на проекте: с учетом большого опыта и стабильных кадров компания может выступать экспертом по постановке бизнес-процессов рекомендовать лучший вариант автоматизации для бизнеса; серьезная репутация компании в регионе сложилась благодаря ответственному отношению к результатам проектов.  </p></div></div><div class="reviews-slider__item"><img src="../assets/img/reviews/face_1.jpg" alt=""><div class="reviews-slider__item-block"><div><img src="../assets/img/reviews/face_1.jpg" alt=""><div><h3>Мария кондратова</h3><h4>Директор ООО “Цветы перецветки”</h4></div></div><p>Высоко оцениваю работу компании Эрбика на проекте: с учетом большого опыта и стабильных кадров компания может выступать экспертом по постановке бизнес-процессов рекомендовать лучший вариант автоматизации для бизнеса; серьезная репутация компании в регионе сложилась благодаря ответственному отношению к результатам проектов.  </p></div></div><div class="reviews-slider__item"><img src="../assets/img/reviews/face_1.jpg" alt=""><div class="reviews-slider__item-block"><div><img src="../assets/img/reviews/face_1.jpg" alt=""><div><h3>Мария кондратова</h3><h4>Директор ООО “Цветы перецветки”</h4></div></div><p>Высоко оцениваю работу компании Эрбика на проекте: с учетом большого опыта и стабильных кадров компания может выступать экспертом по постановке бизнес-процессов рекомендовать лучший вариант автоматизации для бизнеса; серьезная репутация компании в регионе сложилась благодаря ответственному отношению к результатам проектов.  </p></div></div></div></div></div></section><section class="reviews-form form"><div class="form-block"><div class="form-block__item"><h3 class="subtitle"> <span></span>это важно для нас</h3><h2 class="title">Оставьте отзыв или предложение</h2><form class="form-item" action="" method="post"><div class="form-inputs"><div><input type="text" name="name" placeholder="Имя"></div><div><input type="tel" name="phone" placeholder="Телефон"></div><div><input type="email" name="email" placeholder="E-mail"></div></div><textarea name="textarea" placeholder="Коммантарий"></textarea><div><button class="button" type="submit">Отправить</button></div></form></div></div><div class="form-img" style="background:url('../assets/img/banner_1.jpg') center no-repeat; background-size: cover;"></div></section></div></div><footer class="footer"><div class="container"><div class="footer-block"><ul class="footer-block__menu"><li><a href="">Блог</a></li><li><a href="">Каталог</a></li><li><a href="">Портфолио</a></li><li><a href="">О нас</a></li><li><a href="">Контакты</a></li></ul></div><div class="footer-block"><ul class="footer-block__info"><li><a href="tel:+73422480442">+7 (342) 248-04-42</a></li><li><a href="mailto:art@skprm.ru">art@skprm.ru</a></li><li><p>г. Пермь, ул. Коломенская 61, 3 этаж.</p></li></ul><ul class="footer-block__social"><li><a href=""><img src="../../assets/img/footer-inst.svg" alt=""></a></li><li><a href=""><img src="../../assets/img/footer-vk.svg" alt=""></a></li><li><a href=""><img src="../../assets/img/footer-facebook.svg" alt=""></a></li><li><a href=""><img src="../../assets/img/footer-zen.svg" alt=""></a></li><li><a href=""><img src="../../assets/img/footer-be.svg" alt=""></a></li></ul></div></div></footer><script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script><script src="../../assets/js/app.min.js"></script></div></body></html>

app/reviews/index.pug
extends ../layout/main

block variables
  -var title = 'Отзывы'

block content
  .content-wrapper.reviews-page
    section.reviews-section
      .container
        h3.subtitle
          span
          | ЧЕСТНОЕ МНЕНИЕ
        h2.title Отзывы наших клиентов
        p.reviews-description Задача организации, в особенности же рамки и место обучения кадров позволяет выполнять важные задания по разработке соответствующий условий активизации. Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки модели развития. Товарищи! реализация намеченных плановых заданий позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям. Повседневная практика показывает, что новая модель организационной деятельности позволяет оценить значение соответствующий условий активизации.
        .slider-prev.reviews-prev
          p назад
          img(src="../assets/img/slider-prev.svg", alt="")
        .slider-next.reviews-next
          p Вперёд
          img(src="../assets/img/slider-next.svg", alt="")
        .reviews-slider
          .reviews-slider__slide
            include ../modules/reviews-item
            include ../modules/reviews-item
            include ../modules/reviews-item
            include ../modules/reviews-item
          .reviews-slider__slide
            include ../modules/reviews-item
            include ../modules/reviews-item
            include ../modules/reviews-item
            include ../modules/reviews-item
          .reviews-slider__slide
            include ../modules/reviews-item
            include ../modules/reviews-item
            include ../modules/reviews-item
            include ../modules/reviews-item
          .reviews-slider__slide
            include ../modules/reviews-item
            include ../modules/reviews-item
            include ../modules/reviews-item
            include ../modules/reviews-item
          .reviews-slider__slide
            include ../modules/reviews-item
            include ../modules/reviews-item
            include ../modules/reviews-item
            include ../modules/reviews-item
    section.reviews-form.form
      .form-block
        .form-block__item
          h3.subtitle 
            span
            | это важно для нас
          h2.title Оставьте отзыв или предложение
          form(action="" method="post").form-item
            .form-inputs
              div
                input(type="text", name="name", placeholder='Имя')
              div
                input(type="tel", name="phone", placeholder='Телефон')
              div
                input(type="email", name="email", placeholder='E-mail')
            textarea(name="textarea", placeholder='Коммантарий')
            div
              button(type="submit").button Отправить
      .form-img(style="background:url('../assets/img/banner_1.jpg') center no-repeat; background-size: cover;")
