public/index.html
<!DOCTYPE html><html lang="ru-RU"><head><meta charset="utf-8"><meta class="viewport" name="viewport" content="width=device-width, initial-scale=1"><meta name="keywords" content=""><meta name="description" content=""><link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"><link rel="stylesheet" type="text/css" href="../../assets/css/main.min.css"><title>Северная корона</title></head><body><div class="wrapper" id="wrapper"><header class="header"><div class="container"><div class="header-block"><div class="header-logo"><a href="/"><img src="../../assets/img/header_logo.svg" alt=""></a></div><div class="header-button"><a href="#">Обсудить проект</a></div><div class="header-menu__button"><a href="#"> <span></span></a></div></div><div class="header-menu__block"><ul class="header-menu__mainline"><li class="header-menu__mainline-item"><div class="main-link"><a href="/blog/">Блог</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></div></li><li class="header-menu__mainline-item"><div class="main-link"><a href="/service/">Каталог</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></div><ul class="header-menu__subline"><li><a href="">Городу</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></li><li><a href="">Магазинам</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></li><li><a href="">Предприятию</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></li><li><a href="">Гос учреждениям</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></li><li><a href="">Торговому центру</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></li></ul></li><li class="header-menu__mainline-item"><div class="main-link"><a href="/portfolio/">Портфолио</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></div></li><li class="header-menu__mainline-item"><div class="main-link"><a href="/about/">О нас</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></div><ul class="header-menu__subline"><li><a href="/about/">О компании</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></li><li><a href="/reviews/">Отзывы</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></li><li><a href="/vacancies/">Вакансии</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></li><li><a href="/articles/">Статьи</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></li></ul></li><li class="header-menu__mainline-item"><div class="main-link"><a href="/contacts/">Контакты</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></div></li></ul></div></div></header><div class="content"><section class="banner"><h1 class="banner-title">Оформляем  пространство, внедряем современный дизайн в городскую среду.</h1><a class="banner-mouse" href="/"><img src="../assets/img/banner-mouse.svg" alt=""></a><div class="banner-block"><div class="banner-block-bg"></div><div class="banner-block__item" style="background:url('./assets/img/banner_1.jpg') center no-repeat; background-size: cover;"><div class="banner-block__item-category"><h2> <a href="/">Блог</a></h2></div><div class="banner-block__item-submenu"><div class="banner-block__item-submenu__header"><h2>Городу</h2></div><ul class="banner-block__item-submenu__body"><li><a href="/">Городская мебель</a></li><li><a href="/">Городская мебель</a></li><li><a href="/">Городская мебель</a></li><li><a href="/">Городская мебель</a></li><li><a href="/">Городская мебель</a></li><li><a href="/">Городская мебель</a></li><li><a href="/">Городская мебель</a></li><li><a href="/">Городская мебель</a></li><li><a href="/">Городская мебель</a></li><li><a href="/">Городская мебель	</a></li></ul></div><div class="banner-block__item-bg"></div></div><div class="banner-block__item" style="background:url('./assets/img/banner_2.jpg') center no-repeat; background-size: cover;"><div class="banner-block__item-category"><h2> <a href="https://api.jquery.com/children/">Блог</a></h2></div><div class="banner-block__item-bg"></div></div><div class="banner-block__item" style="background:url('./assets/img/banner_3.jpg') center no-repeat; background-size: cover;"><div class="banner-block__item-category"><h2> <a href="/">Блог</a></h2></div><div class="banner-block__item-bg"></div></div><div class="banner-block__item" style="background:url('./assets/img/banner_4.jpg') center no-repeat; background-size: cover;"><div class="banner-block__item-category"><h2> <a href="/">Блог</a></h2></div><div class="banner-block__item-bg"></div></div><div class="banner-block__item" style="background:url('./assets/img/banner_5.jpg') center no-repeat; background-size: cover;"><div class="banner-block__item-category"><h2> <a href="/">Блог</a></h2></div><div class="banner-block__item-bg"></div></div></div><div class="banner-block__mobile" style="background:url('./assets/img/banner-mobile.jpg') center no-repeat; background-size: cover;"></div></section><section class="section catalog-section"><div class="container"><h3 class="subtitle"><span></span>Есть что сказать</h3><h2 class="title">Мы делаем крутые объекты, оформляем рекламу и наполняем простанство вокруг вас удивительными вещами.</h2><a class="catalog-section__title" href="/"><h2>каталог</h2><img src="../assets/img/title-arrow.svg"></a></div><div class="catalog-section__banner"><img src="../assets/img/catalog-main.png" alt=""></div></section><section class="advantages"><div class="container"><div class="advantages-block"><div class="advantages-block__item"><div class="advantages-block__item-block"><img src="../assets/img/advant_0.svg" alt=""></div><h3>Честность</h3></div><div class="advantages-block__item"><div class="advantages-block__item-block"><img src="../assets/img/advant_1.svg" alt=""></div><h3>Экономия денег клиента</h3></div><div class="advantages-block__item"><div class="advantages-block__item-block"><img src="../assets/img/advant_2.svg" alt=""></div><h3>Забота о каждом клиенте</h3></div><div class="advantages-block__item"><div class="advantages-block__item-block"><img src="../assets/img/advant_3.svg" alt=""></div><h3>Уникальные и заметные композиции</h3></div><div class="advantages-block__item"><div class="advantages-block__item-block"><img src="../assets/img/advant_4.svg" alt=""></div><h3>Экологичность</h3></div></div></div></section><section class="products"><div class="container"><div class="title-block"><div class="title-block__text"><h3 class="subtitle"> <span></span>Это не конец</h3><h2 class="title">Вот что мы еще можем</h2></div><div class="title-block__buttons"><div class="slider-prev products-prev"><p>назад</p><img src="../assets/img/slider-prev.svg" alt=""></div><div class="slider-next products-next"><p>Вперёд</p><img src="../assets/img/slider-next.svg" alt=""></div></div></div><div class="products-slider"><div class="products-slider__item"><div class="products-slider__item-info"><img src="../assets/img/product_1.jpg" alt=""><h4>от 12 000 ₽</h4><p>Световые вывески</p></div><a class="products-slider__item-button button" href="/">Заказать</a></div><div class="products-slider__item"><div class="products-slider__item-info"><img src="../assets/img/product_1.jpg" alt=""><h4>от 12 000 ₽</h4><p>Световые вывески</p></div><a class="products-slider__item-button button" href="/">Заказать</a></div><div class="products-slider__item"><div class="products-slider__item-info"><img src="../assets/img/product_1.jpg" alt=""><h4>от 12 000 ₽</h4><p>Световые вывески</p></div><a class="products-slider__item-button button" href="/">Заказать</a></div><div class="products-slider__item"><div class="products-slider__item-info"><img src="../assets/img/product_1.jpg" alt=""><h4>от 12 000 ₽</h4><p>Световые вывески</p></div><a class="products-slider__item-button button" href="/">Заказать</a></div><div class="products-slider__item"><div class="products-slider__item-info"><img src="../assets/img/product_1.jpg" alt=""><h4>от 12 000 ₽</h4><p>Световые вывески</p></div><a class="products-slider__item-button button" href="/">Заказать</a></div></div></div></section><section class="portfolio-section"><div class="container"><div class="title-block"><div class="title-block__text"><h3 class="subtitle"> <span></span>говорит сама за себя</h3><h2 class="title">Работа, за которую не стыдно</h2></div><div class="title-block__buttons"><div class="slider-prev portfolio-section-prev"><p>назад</p><img src="../assets/img/slider-prev.svg" alt=""></div><div class="slider-next portfolio-section-next"><p>Вперёд</p><img src="../assets/img/slider-next.svg" alt=""></div></div></div></div><div class="portfolio-section-slider swiper-container"><div class="swiper-wrapper"><div class="portfolio-section-slider__item swiper-slide"><div class="portfolio-section-slider__item_title">Фигуры</div><img src="../assets/img/portfolio_1.jpg" alt=""></div><div class="portfolio-section-slider__item swiper-slide"><div class="portfolio-section-slider__item_title">Фигуры</div><img src="../assets/img/portfolio_1.jpg" alt=""></div><div class="portfolio-section-slider__item swiper-slide"><div class="portfolio-section-slider__item_title">Фигуры</div><img src="../assets/img/portfolio_1.jpg" alt=""></div><div class="portfolio-section-slider__item swiper-slide"><div class="portfolio-section-slider__item_title">Фигуры</div><img src="../assets/img/portfolio_1.jpg" alt=""></div><div class="portfolio-section-slider__item swiper-slide"><div class="portfolio-section-slider__item_title">Фигуры</div><img src="../assets/img/portfolio_1.jpg" alt=""></div><div class="portfolio-section-slider__item swiper-slide"><div class="portfolio-section-slider__item_title">Фигуры</div><img src="../assets/img/portfolio_1.jpg" alt=""></div><div class="portfolio-section-slider__item swiper-slide"><div class="portfolio-section-slider__item_title">Фигуры</div><img src="../assets/img/portfolio_1.jpg" alt=""></div></div><div class="portfolio-section-slider__title" href="/"><h2>Портфолио</h2><img class="desktop-arrow" src="../assets/img/title-arrow-white.svg" alt=""><img class="mobile-arrow" src="../assets/img/title-arrow.svg" alt=""></div></div></section><section class="steps"><div class="container"><h3 class="subtitle"> <span></span>ответственный подход</h3><h2 class="title">Технологии производства</h2><ul class="steps-list"><li><span class="steps-list__text"> <img src="../assets/img/steps_1.jpg" alt="">Программируем световую иллюминацию. Освещаем фасады</span></li><li><span class="steps-list__text"> <img src="../assets/img/steps_1.jpg" alt="">Варим нержавеющий металл и алюминий.</span></li><li><span class="steps-list__text"> <img src="../assets/img/steps_1.jpg" alt="">Формуем пластик с разными видами последующей обработки</span></li><li><span class="steps-list__text"> <img src="../assets/img/steps_1.jpg" alt="">Работаем с деревом, выполняем качественную обработку, покраску.</span></li><li><span class="steps-list__text"> <img src="../assets/img/steps_1.jpg" alt="">Пенопласт. Вырезаем фигуры и наносим стойкое покрытие.</span></li><li><span class="steps-list__text"> <img src="../assets/img/steps_1.jpg" alt="">Работаем с гибкими источниками света.</span></li><li><span class="steps-list__text"> <img src="../assets/img/steps_1.jpg" alt="">Экструдирование прозрачного полистирола. Позволяет нам имитировать лед.</span></li><li><span class="steps-list__text"> <img src="../assets/img/steps_1.jpg" alt="">Работаем со стеклопластиком для создания объемных изделий</span></li><li><span class="steps-list__text"> <img src="../assets/img/steps_1.jpg" alt="">Полноцветная печать на любые поверхности: пластик, баннер, стекло, алюминий</span></li></ul></div></section><section class="form"><div class="form-block"><div class="form-block__item"><h3 class="subtitle"> <span></span>мы можем помочь</h3><h2 class="title">Форма обратной связи</h2><form class="form-item" action="" method="post"><div><input type="text" name="name" placeholder="Имя"></div><div><input type="tel" name="phone" placeholder="Телефон"></div><div><input type="email" name="email" placeholder="E-mail"></div><div><button class="button" type="submit">Отправить</button></div></form></div></div><div class="form-img" style="background:url('../assets/img/banner_1.jpg') center no-repeat; background-size: cover;"></div></section><section class="partners"><div class="container"><h3 class="subtitle"> <span></span>они нам доверяют</h3><h2 class="title">НАши партнёры</h2><div class="partners-block"><div class="slider-prev partners-prev"><p>назад</p><img src="../assets/img/slider-prev.svg" alt=""></div><div class="partners-slider"><div class="partners-slider__item"><div><img src="../assets/img/partners_1.png" alt=""></div></div><div class="partners-slider__item"><div><img src="../assets/img/partners_2.png" alt=""></div></div><div class="partners-slider__item"><div><img src="../assets/img/partners_3.png" alt=""></div></div><div class="partners-slider__item"><div><img src="../assets/img/partners_4.png" alt=""></div></div><div class="partners-slider__item"><div><img src="../assets/img/partners_4.png" alt=""></div></div></div><div class="slider-next partners-next"><p>Вперёд</p><img src="../assets/img/slider-next.svg" alt=""></div></div></div></section><section class="social-section"><div class="container"><h3 class="subtitle"> <span></span>следим за трендами</h3><h2 class="title">Социальные сети</h2><div class="social-section-block"><div class="social-section-block__item"><a href="/"><img src="../assets/img/social-vk.svg" alt=""></a></div><div class="social-section-block__item"><a href="/"><img src="../assets/img/social-inst.svg" alt=""></a></div><div class="social-section-block__item"><a href="/"><img src="../assets/img/social-facebook.svg" alt=""></a></div><div class="social-section-block__item"><a href="/"><img src="../assets/img/social-zen.svg" alt=""></a></div><div class="social-section-block__item"><a href="/"><img src="../assets/img/social-be.svg" alt=""></a></div></div></div></section></div><footer class="footer"><div class="container"><div class="footer-block"><ul class="footer-block__menu"><li><a href="">Блог</a></li><li><a href="">Каталог</a></li><li><a href="">Портфолио</a></li><li><a href="">О нас</a></li><li><a href="">Контакты</a></li></ul></div><div class="footer-block"><ul class="footer-block__info"><li><a href="tel:+73422480442">+7 (342) 248-04-42</a></li><li><a href="mailto:art@skprm.ru">art@skprm.ru</a></li><li><p>г. Пермь, ул. Коломенская 61, 3 этаж.</p></li></ul><ul class="footer-block__social"><li><a href=""><img src="../../assets/img/footer-inst.svg" alt=""></a></li><li><a href=""><img src="../../assets/img/footer-vk.svg" alt=""></a></li><li><a href=""><img src="../../assets/img/footer-facebook.svg" alt=""></a></li><li><a href=""><img src="../../assets/img/footer-zen.svg" alt=""></a></li><li><a href=""><img src="../../assets/img/footer-be.svg" alt=""></a></li></ul></div></div></footer><script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script><script src="../../assets/js/app.min.js"></script></div></body></html>

app/index.pug
extends layout/main

block variables
	-var title = 'Северная корона'

block content
	section.banner
		h1.banner-title Оформляем  пространство, внедряем современный дизайн в городскую среду.
		a(href="/").banner-mouse
			img(src="../assets/img/banner-mouse.svg", alt="")
		.banner-block
			.banner-block-bg
			.banner-block__item(style="background:url('./assets/img/banner_1.jpg') center no-repeat; background-size: cover;")
				.banner-block__item-category
					h2 
						a(href='/') Блог
				.banner-block__item-submenu
					.banner-block__item-submenu__header
						h2 Городу
					ul.banner-block__item-submenu__body
						li
							a(href="/") Городская мебель
						li
							a(href="/") Городская мебель
						li
							a(href="/") Городская мебель
						li
							a(href="/") Городская мебель
						li
							a(href="/") Городская мебель
						li
							a(href="/") Городская мебель
						li
							a(href="/") Городская мебель
						li
							a(href="/") Городская мебель
						li
							a(href="/") Городская мебель
						li
							a(href="/") Городская мебель	
				.banner-block__item-bg
			.banner-block__item(style="background:url('./assets/img/banner_2.jpg') center no-repeat; background-size: cover;")
				.banner-block__item-category
					h2 
						a(href='https://api.jquery.com/children/') Блог
				.banner-block__item-bg
			.banner-block__item(style="background:url('./assets/img/banner_3.jpg') center no-repeat; background-size: cover;")
				.banner-block__item-category
					h2 
						a(href='/') Блог
				.banner-block__item-bg
			.banner-block__item(style="background:url('./assets/img/banner_4.jpg') center no-repeat; background-size: cover;")
				.banner-block__item-category
					h2 
						a(href='/') Блог
				.banner-block__item-bg
			.banner-block__item(style="background:url('./assets/img/banner_5.jpg') center no-repeat; background-size: cover;")
				.banner-block__item-category
					h2 
						a(href='/') Блог
				.banner-block__item-bg
		.banner-block__mobile(style="background:url('./assets/img/banner-mobile.jpg') center no-repeat; background-size: cover;")

	section.section.catalog-section
		.container
			h3.subtitle
				span
				| Есть что сказать
			h2.title Мы делаем крутые объекты, оформляем рекламу и наполняем простанство вокруг вас удивительными вещами.
			a(href="/").catalog-section__title
				h2 каталог
				img(src="../assets/img/title-arrow.svg")
		.catalog-section__banner
			img(src="../assets/img/catalog-main.png", alt="")

	section.advantages
		.container
			.advantages-block
				.advantages-block__item
					.advantages-block__item-block
						img(src="../assets/img/advant_0.svg", alt="")
					h3 Честность
				.advantages-block__item
					.advantages-block__item-block
						img(src="../assets/img/advant_1.svg", alt="")
					h3 Экономия денег клиента
				.advantages-block__item
					.advantages-block__item-block
						img(src="../assets/img/advant_2.svg", alt="")
					h3 Забота о каждом клиенте
				.advantages-block__item
					.advantages-block__item-block
						img(src="../assets/img/advant_3.svg", alt="")
					h3 Уникальные и заметные композиции
				.advantages-block__item
					.advantages-block__item-block
						img(src="../assets/img/advant_4.svg", alt="")
					h3 Экологичность

	section.products
		.container
			.title-block
				.title-block__text
					h3.subtitle 
						span
						| Это не конец
					h2.title Вот что мы еще можем
				.title-block__buttons
					.slider-prev.products-prev
						p назад
						img(src="../assets/img/slider-prev.svg", alt="")
					.slider-next.products-next
						p Вперёд
						img(src="../assets/img/slider-next.svg", alt="")
			.products-slider
				.products-slider__item
					.products-slider__item-info
						img(src="../assets/img/product_1.jpg", alt="")
						h4 от 12 000 ₽
						p Световые вывески
					a(href="/").products-slider__item-button.button Заказать
				.products-slider__item
					.products-slider__item-info
						img(src="../assets/img/product_1.jpg", alt="")
						h4 от 12 000 ₽
						p Световые вывески
					a(href="/").products-slider__item-button.button Заказать
				.products-slider__item
					.products-slider__item-info
						img(src="../assets/img/product_1.jpg", alt="")
						h4 от 12 000 ₽
						p Световые вывески
					a(href="/").products-slider__item-button.button Заказать
				.products-slider__item
					.products-slider__item-info
						img(src="../assets/img/product_1.jpg", alt="")
						h4 от 12 000 ₽
						p Световые вывески
					a(href="/").products-slider__item-button.button Заказать
				.products-slider__item
					.products-slider__item-info
						img(src="../assets/img/product_1.jpg", alt="")
						h4 от 12 000 ₽
						p Световые вывески
					a(href="/").products-slider__item-button.button Заказать

	section.portfolio-section
		.container
			include modules/portfolio-header
		include modules/portfolio-slider

	section.steps
		.container
			h3.subtitle 
				span
				| ответственный подход
			h2.title Технологии производства
			ul.steps-list
				li
					span.steps-list__text 
						img(src="../assets/img/steps_1.jpg", alt="")
						| Программируем световую иллюминацию. Освещаем фасады
				li
					span.steps-list__text 
						img(src="../assets/img/steps_1.jpg", alt="")
						| Варим нержавеющий металл и алюминий.
				li
					span.steps-list__text 
						img(src="../assets/img/steps_1.jpg", alt="")
						| Формуем пластик с разными видами последующей обработки
				li
					span.steps-list__text 
						img(src="../assets/img/steps_1.jpg", alt="")
						| Работаем с деревом, выполняем качественную обработку, покраску.
				li
					span.steps-list__text 
						img(src="../assets/img/steps_1.jpg", alt="")
						| Пенопласт. Вырезаем фигуры и наносим стойкое покрытие.
				li
					span.steps-list__text 
						img(src="../assets/img/steps_1.jpg", alt="")
						| Работаем с гибкими источниками света.
				li
					span.steps-list__text 
						img(src="../assets/img/steps_1.jpg", alt="")
						| Экструдирование прозрачного полистирола. Позволяет нам имитировать лед.
				li
					span.steps-list__text 
						img(src="../assets/img/steps_1.jpg", alt="")
						| Работаем со стеклопластиком для создания объемных изделий
				li
					span.steps-list__text 
						img(src="../assets/img/steps_1.jpg", alt="")
						| Полноцветная печать на любые поверхности: пластик, баннер, стекло, алюминий

	include modules/section-form

	section.partners
		.container
			h3.subtitle 
				span
				| они нам доверяют
			h2.title НАши партнёры
			.partners-block
				.slider-prev.partners-prev
					p назад
					img(src="../assets/img/slider-prev.svg", alt="")
				.partners-slider
					.partners-slider__item
						div
							img(src="../assets/img/partners_1.png", alt="")
					.partners-slider__item
						div
							img(src="../assets/img/partners_2.png", alt="")
					.partners-slider__item
						div
							img(src="../assets/img/partners_3.png", alt="")
					.partners-slider__item
						div
							img(src="../assets/img/partners_4.png", alt="")
					.partners-slider__item
						div
							img(src="../assets/img/partners_4.png", alt="")
				.slider-next.partners-next
					p Вперёд
					img(src="../assets/img/slider-next.svg", alt="")

	section.social-section
		.container
			h3.subtitle 
				span
				| следим за трендами
			h2.title Социальные сети
			.social-section-block
				.social-section-block__item
					a(href="/")
						img(src="../assets/img/social-vk.svg", alt="")
				.social-section-block__item
					a(href="/")
						img(src="../assets/img/social-inst.svg", alt="")
				.social-section-block__item
					a(href="/")
						img(src="../assets/img/social-facebook.svg", alt="")
				.social-section-block__item
					a(href="/")
						img(src="../assets/img/social-zen.svg", alt="")
				.social-section-block__item
					a(href="/")
						img(src="../assets/img/social-be.svg", alt="")
