public/portfolio/index.html
<!DOCTYPE html><html lang="ru-RU"><head><meta charset="utf-8"><meta class="viewport" name="viewport" content="width=device-width, initial-scale=1"><meta name="keywords" content=""><meta name="description" content=""><link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"><link rel="stylesheet" type="text/css" href="../../assets/css/main.min.css"><title>Портфолио</title></head><body><div class="wrapper" id="wrapper"><header class="header"><div class="container"><div class="header-block"><div class="header-logo"><a href="/"><img src="../../assets/img/header_logo.svg" alt=""></a></div><div class="header-button"><a href="#">Обсудить проект</a></div><div class="header-menu__button"><a href="#"> <span></span></a></div></div><div class="header-menu__block"><ul class="header-menu__mainline"><li class="header-menu__mainline-item"><div class="main-link"><a href="/blog/">Блог</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></div></li><li class="header-menu__mainline-item"><div class="main-link"><a href="/service/">Каталог</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></div><ul class="header-menu__subline"><li><a href="">Городу</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></li><li><a href="">Магазинам</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></li><li><a href="">Предприятию</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></li><li><a href="">Гос учреждениям</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></li><li><a href="">Торговому центру</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></li></ul></li><li class="header-menu__mainline-item"><div class="main-link"><a href="/portfolio/">Портфолио</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></div></li><li class="header-menu__mainline-item"><div class="main-link"><a href="/about/">О нас</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></div><ul class="header-menu__subline"><li><a href="/about/">О компании</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></li><li><a href="/reviews/">Отзывы</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></li><li><a href="/vacancies/">Вакансии</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></li><li><a href="/articles/">Статьи</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></li></ul></li><li class="header-menu__mainline-item"><div class="main-link"><a href="/contacts/">Контакты</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></div></li></ul></div></div></header><div class="content"><div class="content-wrapper"><div class="container"><section class="banner-section"><div class="banner-page__button"><div class="banner-page__button-prev"><img src="../../assets/img/banner-prev.svg" alt=""></div><div class="banner-page__button-next"><img src="../../assets/img/banner-next.svg" alt=""></div></div><div class="banner-page"><div class="banner-page__item" style="background:url('../assets/img/portfolio/portfolio-banner.jpg') center no-repeat; background-size: cover;"><h2> <span> Оформляем пространство, внедряем <br>современный дизайн в городскую среду.</span><a class="button" href="/">Оставить заявку</a></h2></div><div class="banner-page__item" style="background:url('../assets/img/portfolio/portfolio-banner.jpg') center no-repeat; background-size: cover;"><h2> <span> Оформляем пространство, внедряем <br>современный дизайн в городскую среду.</span><a class="button" href="/">Оставить заявку  </a></h2></div></div></section><section class="portfolio-zone"><h3 class="subtitle"> <span></span>для разных клиентов</h3><h2 class="title">Разделы портфолио</h2><div class="portfolio-zone__block"><div class="portfolio-zone__block-item" style="background: url('../assets/img/portfolio/portfolio-zone_1.jpg') center no-repeat; background-size: cover;"><a href="">арт-объекты</a></div><div class="portfolio-zone__block-item" style="background: url('../assets/img/portfolio/portfolio-zone_1.jpg') center no-repeat; background-size: cover;"><a href="">городская среда</a></div><div class="portfolio-zone__block-item" style="background: url('../assets/img/portfolio/portfolio-zone_2.jpg') center no-repeat; background-size: cover;"><a href="">рекламное</a></div><div class="portfolio-zone__block-item" style="background: url('../assets/img/portfolio/portfolio-zone_3.jpg') center no-repeat; background-size: cover;"><a href="">фасады</a></div><div class="portfolio-zone__block-item" style="background: url('../assets/img/portfolio/portfolio-zone_4.jpg') center no-repeat; background-size: cover;"><a href="">интерьеры</a></div></div></section><section class="portfolio-cards"><h3 class="subtitle"> <span></span>говорит сама за себя</h3><h2 class="title">Работа, за которую не стыдно</h2><div class="cards-block"><div class="cards-block__item"><div class="cards-block__item-img"><img src="../../assets/img/portfolio/portfolio-card_1.jpg" alt=""></div><div class="cards-block__item-text"><h2>Оформление здания на проспекте Мира</h2><p>Сделали индивидульный дизайн для города</p><a href="/">Смортеть<img src="../../assets/img/service/service-arrow.svg" alt=""></a></div></div><div class="cards-block__item"><div class="cards-block__item-img"><img src="../../assets/img/portfolio/portfolio-card_2.jpg" alt=""></div><div class="cards-block__item-text"><h2>Оформление здания на проспекте Мира</h2><p>Сделали индивидульный дизайн для города</p><a href="/">Смортеть<img src="../../assets/img/service/service-arrow.svg" alt=""></a></div></div><div class="cards-block__item"><div class="cards-block__item-img"><img src="../../assets/img/portfolio/portfolio-card_3.jpg" alt=""></div><div class="cards-block__item-text"><h2>Оформление здания на проспекте Мира</h2><p>Сделали индивидульный дизайн для города</p><a href="/">Смортеть<img src="../../assets/img/service/service-arrow.svg" alt=""></a></div></div><div class="cards-block__item"><div class="cards-block__item-img"><img src="../../assets/img/portfolio/portfolio-card_4.jpg" alt=""></div><div class="cards-block__item-text"><h2>Оформление здания на проспекте Мира</h2><p>Сделали индивидульный дизайн для города</p><a href="/">Смортеть<img src="../../assets/img/service/service-arrow.svg" alt=""></a></div></div><div class="cards-block__item"><div class="cards-block__item-img"><img src="../../assets/img/portfolio/portfolio-card_5.jpg" alt=""></div><div class="cards-block__item-text"><h2>Оформление здания на проспекте Мира</h2><p>Сделали индивидульный дизайн для города</p><a href="/">Смортеть<img src="../../assets/img/service/service-arrow.svg" alt=""></a></div></div><div class="cards-block__item"><div class="cards-block__item-img"><img src="../../assets/img/portfolio/portfolio-card_6.jpg" alt=""></div><div class="cards-block__item-text"><h2>Оформление здания на проспекте Мира</h2><p>Сделали индивидульный дизайн для города</p><a href="/">Смортеть<img src="../../assets/img/service/service-arrow.svg" alt=""></a></div></div><div class="cards-block__item"><div class="cards-block__item-img"><img src="../../assets/img/portfolio/portfolio-card_7.jpg" alt=""></div><div class="cards-block__item-text"><h2>Оформление здания на проспекте Мира</h2><p>Сделали индивидульный дизайн для города</p><a href="/">Смортеть<img src="../../assets/img/service/service-arrow.svg" alt=""></a></div></div><div class="cards-block__item"><div class="cards-block__item-img"><img src="../../assets/img/portfolio/portfolio-card_8.jpg" alt=""></div><div class="cards-block__item-text"><h2>Оформление здания на проспекте Мира</h2><p>Сделали индивидульный дизайн для города</p><a href="/">Смортеть<img src="../../assets/img/service/service-arrow.svg" alt=""></a></div></div></div></section></div><section class="form portfolio-form"><div class="form-block"><div class="form-block__item"><h3 class="subtitle"> <span></span>мы можем помочь</h3><h2 class="title">Хочу так же</h2><form class="form-item" action="" method="post"><div><input type="text" name="name" placeholder="Имя"></div><div><input type="tel" name="phone" placeholder="Телефон"></div><div><input type="email" name="email" placeholder="E-mail"></div><div><button class="button" type="submit">Отправить</button></div></form></div></div><div class="form-img" style="background:url('../assets/img/banner_1.jpg') center no-repeat; background-size: cover;"></div></section><div class="container"><section class="portfolio-blog"><div class="title-block"><div class="title-block__text"><h3 class="subtitle"> <span></span>абсолютно индивидуальные</h3><h2 class="title">Последние статьи в блоге</h2></div><div class="title-block__buttons"><div class="slider-prev portfolio-blog__prev"><p>назад</p><img src="../assets/img/slider-prev.svg" alt=""></div><div class="slider-next portfolio-blog__next"><p>Вперёд</p><img src="../assets/img/slider-next.svg" alt=""></div></div></div><div class="portfolio-blog__slider"><div class="blog-item slide-padding"><div class="blog-item__img"><img src="../assets/img/service/service_1.jpg" alt=""></div><div class="blog-item__text"><h3>Работа, которую нельзя обойти стороной. Тц...</h3><a href="/">Читать дальше<img src="../assets/img/service/service-arrow.svg" alt=""></a></div></div><div class="blog-item slide-padding"><div class="blog-item__img"><img src="../assets/img/service/service_1.jpg" alt=""></div><div class="blog-item__text"><h3>Работа, которую нельзя обойти стороной. Тц...</h3><a href="/">Читать дальше<img src="../assets/img/service/service-arrow.svg" alt=""></a></div></div><div class="blog-item slide-padding"><div class="blog-item__img"><img src="../assets/img/service/service_1.jpg" alt=""></div><div class="blog-item__text"><h3>Работа, которую нельзя обойти стороной. Тц...</h3><a href="/">Читать дальше<img src="../assets/img/service/service-arrow.svg" alt=""></a></div></div><div class="blog-item slide-padding"><div class="blog-item__img"><img src="../assets/img/service/service_1.jpg" alt=""></div><div class="blog-item__text"><h3>Работа, которую нельзя обойти стороной. Тц...</h3><a href="/">Читать дальше<img src="../assets/img/service/service-arrow.svg" alt=""></a></div></div><div class="blog-item slide-padding"><div class="blog-item__img"><img src="../assets/img/service/service_1.jpg" alt=""></div><div class="blog-item__text"><h3>Работа, которую нельзя обойти стороной. Тц...</h3><a href="/">Читать дальше<img src="../assets/img/service/service-arrow.svg" alt=""></a></div></div><div class="blog-item slide-padding"><div class="blog-item__img"><img src="../assets/img/service/service_1.jpg" alt=""></div><div class="blog-item__text"><h3>Работа, которую нельзя обойти стороной. Тц...</h3><a href="/">Читать дальше<img src="../assets/img/service/service-arrow.svg" alt=""></a></div></div><div class="blog-item slide-padding"><div class="blog-item__img"><img src="../assets/img/service/service_1.jpg" alt=""></div><div class="blog-item__text"><h3>Работа, которую нельзя обойти стороной. Тц...</h3><a href="/">Читать дальше<img src="../assets/img/service/service-arrow.svg" alt=""></a></div></div><div class="blog-item slide-padding"><div class="blog-item__img"><img src="../assets/img/service/service_1.jpg" alt=""></div><div class="blog-item__text"><h3>Работа, которую нельзя обойти стороной. Тц...</h3><a href="/">Читать дальше<img src="../assets/img/service/service-arrow.svg" alt=""></a></div></div><div class="blog-item slide-padding"><div class="blog-item__img"><img src="../assets/img/service/service_1.jpg" alt=""></div><div class="blog-item__text"><h3>Работа, которую нельзя обойти стороной. Тц...</h3><a href="/">Читать дальше<img src="../assets/img/service/service-arrow.svg" alt=""></a></div></div><div class="blog-item slide-padding"><div class="blog-item__img"><img src="../assets/img/service/service_1.jpg" alt=""></div><div class="blog-item__text"><h3>Работа, которую нельзя обойти стороной. Тц...</h3><a href="/">Читать дальше<img src="../assets/img/service/service-arrow.svg" alt=""></a></div></div><div class="blog-item slide-padding"><div class="blog-item__img"><img src="../assets/img/service/service_1.jpg" alt=""></div><div class="blog-item__text"><h3>Работа, которую нельзя обойти стороной. Тц...</h3><a href="/">Читать дальше<img src="../assets/img/service/service-arrow.svg" alt=""></a></div></div><div class="blog-item slide-padding"><div class="blog-item__img"><img src="../assets/img/service/service_1.jpg" alt=""></div><div class="blog-item__text"><h3>Работа, которую нельзя обойти стороной. Тц...</h3><a href="/">Читать дальше<img src="../assets/img/service/service-arrow.svg" alt=""></a></div></div></div></section></div></div></div><footer class="footer"><div class="container"><div class="footer-block"><ul class="footer-block__menu"><li><a href="">Блог</a></li><li><a href="">Каталог</a></li><li><a href="">Портфолио</a></li><li><a href="">О нас</a></li><li><a href="">Контакты</a></li></ul></div><div class="footer-block"><ul class="footer-block__info"><li><a href="tel:+73422480442">+7 (342) 248-04-42</a></li><li><a href="mailto:art@skprm.ru">art@skprm.ru</a></li><li><p>г. Пермь, ул. Коломенская 61, 3 этаж.</p></li></ul><ul class="footer-block__social"><li><a href=""><img src="../../assets/img/footer-inst.svg" alt=""></a></li><li><a href=""><img src="../../assets/img/footer-vk.svg" alt=""></a></li><li><a href=""><img src="../../assets/img/footer-facebook.svg" alt=""></a></li><li><a href=""><img src="../../assets/img/footer-zen.svg" alt=""></a></li><li><a href=""><img src="../../assets/img/footer-be.svg" alt=""></a></li></ul></div></div></footer><script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script><script src="../../assets/js/app.min.js"></script></div></body></html>

app/portfolio/index.pug
extends ../layout/main

block variables
  -var title = 'Портфолио'

block content
  .content-wrapper
    .container
      include ../modules/banner-page
      section.portfolio-zone
        h3.subtitle 
          span
          | для разных клиентов
        h2.title Разделы портфолио
        .portfolio-zone__block
          .portfolio-zone__block-item(style="background: url('../assets/img/portfolio/portfolio-zone_1.jpg') center no-repeat; background-size: cover;")
            a(href="") арт-объекты
          .portfolio-zone__block-item(style="background: url('../assets/img/portfolio/portfolio-zone_1.jpg') center no-repeat; background-size: cover;")
            a(href="") городская среда
          .portfolio-zone__block-item(style="background: url('../assets/img/portfolio/portfolio-zone_2.jpg') center no-repeat; background-size: cover;")
            a(href="") рекламное
          .portfolio-zone__block-item(style="background: url('../assets/img/portfolio/portfolio-zone_3.jpg') center no-repeat; background-size: cover;")
            a(href="") фасады
          .portfolio-zone__block-item(style="background: url('../assets/img/portfolio/portfolio-zone_4.jpg') center no-repeat; background-size: cover;")
            a(href="") интерьеры
      section.portfolio-cards
        h3.subtitle 
          span
          | говорит сама за себя
        h2.title Работа, за которую не стыдно
        include ../modules/cards-block
    section.form.portfolio-form
        .form-block
          .form-block__item
            h3.subtitle 
              span
              | мы можем помочь
            h2.title Хочу так же
            include ../modules/form
        .form-img(style="background:url('../assets/img/banner_1.jpg') center no-repeat; background-size: cover;")
    .container
      section.portfolio-blog
        .title-block
          .title-block__text
            h3.subtitle 
              span
              | абсолютно индивидуальные
            h2.title Последние статьи в блоге
          .title-block__buttons
            .slider-prev.portfolio-blog__prev
              p назад
              img(src="../assets/img/slider-prev.svg", alt="")
            .slider-next.portfolio-blog__next
              p Вперёд
              img(src="../assets/img/slider-next.svg", alt="")
        .portfolio-blog__slider
          include ../modules/blog-item
          include ../modules/blog-item
          include ../modules/blog-item
          include ../modules/blog-item
          include ../modules/blog-item
          include ../modules/blog-item
          include ../modules/blog-item
          include ../modules/blog-item
          include ../modules/blog-item
          include ../modules/blog-item
          include ../modules/blog-item
          include ../modules/blog-item
