app/contacts/index.pug
extends ../layout/main

block variables
  -var title = 'Контакты'

block content
  .content-wrapper.contacts-page
    .contacts-info
      .container
        h3.subtitle 
          span
          | свяжитесь с нами
        h2.title Контакты
        section.contacts-block
          .contacts-block__address
            h4 Главный офис:
            p 
              | г. Пермь
              br
              | ул. Коломенская 61, 3 этаж
              br
              | Прием заявок: ПН-ПТ с 6.00 до 22.00 мск.
          .contacts-block__info
            .contacts-block__info-block
              a(href="tel:+73422480442") +7 (342) 248-04-42
              a(href="mailto:art@skprm.ru") art@skprm.ru
            .contacts-block__info-social
              a(href="/")
                img(src="../assets/img/social-vk.svg", alt="")
              a(href="/")
                img(src="../assets/img/social-inst.svg", alt="")
              a(href="/")
                img(src="../assets/img/social-facebook.svg", alt="")
              a(href="/")
                img(src="../assets/img/social-zen.svg", alt="")
              a(href="/")
                img(src="../assets/img/social-be.svg", alt="")
        //- img(src="../assets/img/map.jpg", alt="", style="width:100%")
        #contact-map
          <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1y_0s-xhlbhfwI22lil_fEvyCvBREcZ9y" width="100%" height="100%" frameborder="0"></iframe>

      include ../modules/section-form

public/contacts/index.html
<!DOCTYPE html><html lang="ru-RU"><head><meta charset="utf-8"><meta class="viewport" name="viewport" content="width=device-width, initial-scale=1"><meta name="keywords" content=""><meta name="description" content=""><link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"><link rel="stylesheet" type="text/css" href="../../assets/css/main.min.css"><title>Контакты</title></head><body><div class="wrapper" id="wrapper"><header class="header"><div class="container"><div class="header-block"><div class="header-logo"><a href="/"><img src="../../assets/img/header_logo.svg" alt=""></a></div><div class="header-button"><a href="#">Обсудить проект</a></div><div class="header-menu__button"><a href="#"> <span></span></a></div></div><div class="header-menu__block"><ul class="header-menu__mainline"><li class="header-menu__mainline-item"><div class="main-link"><a href="/blog/">Блог</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></div></li><li class="header-menu__mainline-item"><div class="main-link"><a href="/service/">Каталог</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></div><ul class="header-menu__subline"><li><a href="">Городу</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></li><li><a href="">Магазинам</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></li><li><a href="">Предприятию</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></li><li><a href="">Гос учреждениям</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></li><li><a href="">Торговому центру</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></li></ul></li><li class="header-menu__mainline-item"><div class="main-link"><a href="/portfolio/">Портфолио</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></div></li><li class="header-menu__mainline-item"><div class="main-link"><a href="/about/">О нас</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></div><ul class="header-menu__subline"><li><a href="/about/">О компании</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></li><li><a href="/reviews/">Отзывы</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></li><li><a href="/vacancies/">Вакансии</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></li><li><a href="/articles/">Статьи</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></li></ul></li><li class="header-menu__mainline-item"><div class="main-link"><a href="/contacts/">Контакты</a><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
</svg></div></li></ul></div></div></header><div class="content"><div class="content-wrapper contacts-page"><div class="contacts-info"><div class="container"><h3 class="subtitle"> <span></span>свяжитесь с нами</h3><h2 class="title">Контакты</h2><section class="contacts-block"><div class="contacts-block__address"><h4>Главный офис:</h4><p> г. Пермь<br>ул. Коломенская 61, 3 этаж<br>Прием заявок: ПН-ПТ с 6.00 до 22.00 мск.</p></div><div class="contacts-block__info"><div class="contacts-block__info-block"><a href="tel:+73422480442">+7 (342) 248-04-42</a><a href="mailto:art@skprm.ru">art@skprm.ru</a></div><div class="contacts-block__info-social"><a href="/"><img src="../assets/img/social-vk.svg" alt=""></a><a href="/"><img src="../assets/img/social-inst.svg" alt=""></a><a href="/"><img src="../assets/img/social-facebook.svg" alt=""></a><a href="/"><img src="../assets/img/social-zen.svg" alt=""></a><a href="/"><img src="../assets/img/social-be.svg" alt=""></a></div></div></section><div id="contact-map"><iframe src="https://www.google.com/maps/d/u/0/embed?mid=1y_0s-xhlbhfwI22lil_fEvyCvBREcZ9y" width="100%" height="100%" frameborder="0"></iframe></div></div><section class="form"><div class="form-block"><div class="form-block__item"><h3 class="subtitle"> <span></span>мы можем помочь</h3><h2 class="title">Форма обратной связи</h2><form class="form-item" action="" method="post"><div><input type="text" name="name" placeholder="Имя"></div><div><input type="tel" name="phone" placeholder="Телефон"></div><div><input type="email" name="email" placeholder="E-mail"></div><div><button class="button" type="submit">Отправить</button></div></form></div></div><div class="form-img" style="background:url('../assets/img/banner_1.jpg') center no-repeat; background-size: cover;"></div></section></div></div></div><footer class="footer"><div class="container"><div class="footer-block"><ul class="footer-block__menu"><li><a href="">Блог</a></li><li><a href="">Каталог</a></li><li><a href="">Портфолио</a></li><li><a href="">О нас</a></li><li><a href="">Контакты</a></li></ul></div><div class="footer-block"><ul class="footer-block__info"><li><a href="tel:+73422480442">+7 (342) 248-04-42</a></li><li><a href="mailto:art@skprm.ru">art@skprm.ru</a></li><li><p>г. Пермь, ул. Коломенская 61, 3 этаж.</p></li></ul><ul class="footer-block__social"><li><a href=""><img src="../../assets/img/footer-inst.svg" alt=""></a></li><li><a href=""><img src="../../assets/img/footer-vk.svg" alt=""></a></li><li><a href=""><img src="../../assets/img/footer-facebook.svg" alt=""></a></li><li><a href=""><img src="../../assets/img/footer-zen.svg" alt=""></a></li><li><a href=""><img src="../../assets/img/footer-be.svg" alt=""></a></li></ul></div></div></footer><script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script><script src="../../assets/js/app.min.js"></script></div></body></html>
